{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="card mt-5">
            <div class="card-header text-center lead fw-bold">
                Forgot Password
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-success d-block w-100 fw-bold">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
