{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="card mt-5">
            <div class="card-header text-center lead fw-bold">
                Login to Giveaway
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <p class="float-end"><a href="{% url 'accounts:forgot-password' %}">Forgot Password?</a></p>
                    <button class="btn btn-success d-block w-100 fw-bold">Login</button>
                </form>
            </div>
            <div class="card-footer text-center">
                Don't have an account? <a href="{% url 'accounts:registration' %}">Register</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
