{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="card mt-5">
            <div class="card-header text-center lead fw-bold">
                Create Giveaway - Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ wizard.management_form }}
                    {% if wizard.form.forms %}
                        {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                        {{ form|crispy }}
                        {% endfor %}
                    {% else %}
                        {{ wizard.form|crispy }}
                    {% endif %}
                    {% if wizard.steps.prev %}
                    <div class="d-flex my-3 justify-content-between">
                        <button name="wizard_goto_step" class="btn btn-outline-dark d-block w-50 fw-bold me-2 d-flex align-items-center justify-content-center" type="submit" value="{{ wizard.steps.prev }}">
                            <svg width="24" height="24" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z" clip-rule="evenodd"></path>
                            </svg>
                            Previous
                        </button>
                        <button name="wizard_goto_step" class="btn btn-outline-primary d-block w-50 fw-bold d-flex align-items-center justify-content-center" type="submit" value="{{ wizard.steps.first }}">
                            Next
                            <svg width="24" height="24" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                    {% endif %}
                    <button class="btn btn-success d-block w-100 fw-bold">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}